header {
    width: 100%;
    height: 70px;
    background-color: #282828;
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    color:#39ca74;
}

span {
    color: white;
}

ul {
    width: auto;
    float: right;
    margin-top:8px;
}

li {
    display: inline-block;
    padding:15px 30px;
}

html, body {
    margin:0;
    padding:0;
}

a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

a:hover {
    color:#F0c330;
    transition: 0.5s;
}
